* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.rt {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
}
